.root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  max-width: 1440px;
  background: #fff;
  width: 100%;
  padding-bottom: 40px;
}

.bannerAll{
  margin-right: 0;
  margin: 0;
}

.bannerOne {
  width: 100%;
  object-fit: cover;
  height: 411px;
  margin-top: 0%;
  margin: 0;
}

.bannerContainer {
  margin-bottom: 90px;
}

.productSlider {
  width: 400px;
}
.productsContainer {
  padding: 0 72px;
  margin-top: 40px;
}